header {
    background-color: #222222;
    color: whitesmoke;
}

h2 {
    text-align: center;
    background-color: #222222;
    color: whitesmoke;
}

h3{
    text-align: center;
    background-color: #222222;
    color: whitesmoke;
    padding: 10px;
}

body {
    background-color: #222222;
    color: whitesmoke;
    margin: 5%;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    box-shadow: 0 0 25px 0 #60A300;
    border: 5px solid rgba(245, 245, 245, 0.3);
}
